<a href="https://colab.research.google.com/github/ronald-cedeno/demo-104/blob/main/conditions_and_loops_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab 1 - Conditions and Branching**

##### 1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [12]:
annie_year = 1996
jane_year = 1999

if (annie_year % 4 == 0 and annie_year % 100 != 0) or (annie_year % 400 == 0):
    if (jane_year % 4 == 0 and jane_year % 100 != 0) or (jane_year % 400 == 0):
        print("Both Annie and Jane were born in a leap year.")
    else:
        print("Annie was born in a leap year.")
elif (jane_year % 4 == 0 and jane_year % 100 != 0) or (jane_year % 400 == 0):
    print("Jane was born in a leap year.")
else:
    print("Neither Annie nor Jane was born in a leap year.")

Annie was born in a leap year.

2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [13]:
sam_age = 10

if sam_age < 9:
    print("Milk porridge")
elif 10 <= sam_age <= 14:
    print("Sandwich")
elif 15 <= sam_age <= 17:
    print("Burger")
else:
    print("No breakfast available")

Sandwich

**Lab - Loops**

1. Write a for loop the prints out all the element between -5 and 5 using the range function.

In [14]:
for i in range(-5, 6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

2. Print the elements of the following list:
<code>Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [15]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for genre in Genres:
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

3. Write a for loop that prints out the following list: <code>squares=['red', 'yellow', 'green', 'purple', 'blue']</code>

In [16]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for square in squares:
    print(square)

red
yellow
green
purple
blue

4. Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [17]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

i = 0
while i < len(PlayListRatings):
    if PlayListRatings[i] < 6:
        break
    print(PlayListRatings[i])
    i += 1

10
9.5
10
8
7.5

5. Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [18]:
squares = ['orange', 'orange', 'purple', 'orange', 'blue']
new_squares = []

i = 0
while i < len(squares):
    if squares[i] != 'orange':
        break
    new_squares.append(squares[i])
    i += 1

print(new_squares)

['orange', 'orange']

6. Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using <code>for</code> loop.

In [19]:
print("Multiplication Table of 6:")
for i in range(1, 11):
    print(f"6 x {i} = {6 * i}")

print("\nMultiplication Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

Multiplication Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

7. The following is a list of animals in a National Zoo.
<code>Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]</code>

Your brother needs to write an essay on the animals whose names are made of 7 letters. Help him find those animals through a <code>while</code> loop and create a separate list of such animals.

In [20]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile", "deer", "swan"]
animals_with_7_letters = []

i = 0
while i < len(Animals):
    if len(Animals[i]) == 7:
        animals_with_7_letters.append(Animals[i])
    i += 1

print(animals_with_7_letters)

['giraffe', 'gorilla', 'parrots']